<!DOCTYPE html>
{% load static %}


<html>
<body>
	<script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/default.css' %}" rel="stylesheet">
    <!-- Page-Level Plugin CSS - Tables -->
    <link href="{% static 'css/plugins/dataTables/dataTables.bootstrap.css' %}" rel="stylesheet">

<h1>View or Edit Participants</h1>
	{% for participant in all_participants %}
	<div>

		<div id="sidebar">
		<ul>
			<li><a href="/emerge/dashboard/">Cancel</a></li>
		</ul>
		</div>

		<!--<h2><a href="/emerge/participant/{{ participant.id }}/">{{ participant.participant_fname }}</a></h2>
		<p>{{ participant.participant_lname }}</p>
	{% endfor %}-->

	<table class="table table-striped table-hover" id="part_view">
		<thead>
			<tr>
				<th>ID</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Gender</th>
				<th>Age</th>
				<th>Race</th>
			</tr>
		</thead>
		<tbody>
			{% for participant in all_participants %}
				<tr class='clickableRow' href="/emerge/participant/{{ participant.id }}/">
					<td><a href="/emerge/participant/{{ participant.id }}/">{{ participant.id }}</a></td>
					<td>{{ participant.participant_fname }}</td>
					<td>{{ participant.participant_lname }}</td>
					<td>{{ participant.participant_gender }}</td>
					<td>{{ participant.participant_age }}</td>
					<td>{{ participant.participant_race }}</td>
				</a>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	</div>

    <script src="{% static 'js/plugins/dataTables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/plugins/dataTables/jquery.dataTables.js' %}"></script>

<script>
	$(document).ready(function() {
		$('#part_view').dataTable();
	} );
</script>


</body>
</html>